.page{
    background-color: #dce6df;
    margin-top: 6%;
    padding-top: 6%;
}
.main-tittle{
    text-align: center;
}
.company-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    
}
.card {
    align-items: center;
    
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    max-height: 500px;
    height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 5%;
    

}
.card p{
    margin-top: 50px;
}

.i{
    margin-top: 40px;
    
}
.company-cards-mid{
    
    margin-top: 0;
    padding-top: 30%;
}
.company-cards{
    padding-top: 50%;
}